{% extends "bootstrap_responsive.html" %}

{# Test #}
{% set active_page = active_page|default('index') %}
{% macro nav_link(endpoint, name) %}
    {% if endpoint == active_page %}
        <li class="active"><a href="{{ endpoint }}">{{ name }}</a></li>
    {% else %}
        <li><a href="{{ endpoint }}">{{ name }}</a></li>
    {% endif %}
{% endmacro %}

{% block body_content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Coffeeweb!</a>
          <div class="nav-collapse">
            <ul class="nav">
              {{ nav_link('/', 'Home') }}
              {{ nav_link('/items', 'items') }}
              {{ nav_link('/transactions', 'transactions') }}
              {{ nav_link('/contact', 'Über / Kontakt') }}              
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Benutzername">
              <input class="span2" type="password" placeholder="Passwort">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}