{% extends "base.html" %}
{% set active_page = "/items" %}

{% block body_content %}
{{ super() }}
    <div class="container">
      <div class="hero-unit">
        <h3>Items</h3>

		{% for item in items %}
			<div>
                <img src="/items/image/{{item.id}}"/>
            {{ item.id }}. {{ item.desc }} {{ item.price|safe }} Bits Enabled: {{ item.enabled }}  Sold out: {{ item.sold_out }}
            </div>
		{% else %}
			<em>Keine Items</em>
		{% endfor %}

      </div>
    </div>
{% endblock %}