{% extends "base.html" %}
{% set active_page = "/transactions" %}

{% block body_content %}
{{ super() }}
    <div class="container">
      <div class="hero-unit">
        <h3>Transactions</h3>

        <div class="row-fluid">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Wallet</th>
                        <th>Change</th>
                        <th>Description</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{transaction.id}}</td>
                            <td><a href="/wallets/view/{{transaction.walletid}}">{{transaction.walletid}}</a></td>
                            <td>{{transaction.change}}</td>
                            <td>{{transaction.description}}</td>
                            <td>{{ unix2datetime(transaction.time).strftime('%H:%M:%S %d.%m.%Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
{% endblock %}